.loginPage
  .container
    .loginPage__contents
      %h1.h4.loginPage__contents__title
        新しいマッチを見つけよう
      = link_to "メールアドレスでログインする", new_user_session_path, class: "btn loginPage__contents__btn"