.loginPage {
  background-image: url("/TS0529000_TP_V.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  &__contents {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    &__title {
      margin-top: 10vh;
      font-size:30px;
      color:#EE4949;
      font-weight: bold;
      font-family: 'Hiragino Maru Gothic ProN';
    }

    &__logo{
      margin: 0 auto;

    }
    &__btn {
      display: block;
      max-width: 400px;
      padding: 20px;
      margin: 0 auto;
      border-radius: 30px;
      color: #fff;
      @include main-color;
    }
  }
}

.search-icon{
  width: 150px;
  height: 150px;
  @include main-color;
  border-radius: 100%;
  position: relative;
  float: right;
  position: fixed;
  bottom: 20%;
  right: 20%;
  z-index: 100;
  .fa-search{
    color:rgb(255, 255, 255);
    position: absolute;
    top: 45px;
    left:45px ;
  }
}